@font-face {
    font-family: 'EuphoriaScript';
    src: url('feuphoriascript-regular-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

* {
	
	box-sizing: border-box;
	margin-left: auto;
	margin-right: auto;
}

html {
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

body {
	background-color: #E3E7D3;
	margin: 0;
	margin-left: auto;
	margin-right: auto;
}
img.topheader {
	
	width: 1370px;
	height: 500px;


}
div.container, div.row {
	margin: 0;
	margin-left: auto;
	margin-right: auto;
	width: 100%;
}
img.profile {
	height: 500px;
	width: 400px;
	
	
}
div.container {
	margin-left: auto;
	margin-right: auto;
	margin: 0;
	text-align: center;
}
p {
	
	font-family: "EuphoriaScript";
	font-size: 20px;
}

img.website1 {
	width: 100%;
	
}
img.website2 {
	width: 100%;
	
}
img.website3 {
	width: 99%;
}

#secondrow {
	padding-top: 5%;
	width: 100%;
}
h3, h2, h1{
	text-align: center;
	background-color: #270722;
	color: lightblue;
	
	margin: 0;
}
h3 {
	font-size: 30px;
}
#bio {
	width: 60%;
	margin: 0;
	float: left;
	padding-top: 6%;
	padding-left: 4%;
	padding-right: 4%;
	

	

}
#pic {
	float: right;
	padding-bottom: 1.5%;
	padding-top: 1.5%;

	
}
#firstrow {
	
	padding-bottom: 10%;
}
nav {
	word-spacing: 200px;
}
h1 {
	background-attachment: fixed;
}
a:hover {
	color: lightblue;
}
#woof {
	padding-top: 1%;
}
@media only screen and (max-width: 600px) {

}
